<!DOCTYPE html>
<html>
<head>
	<title>LOGIN PAGE</title>
</head>
<body bgcolor="lightpink">

	<form action="" method="post">
		{% csrf_token %}

		<h3>
		<table border="0" cellspacing="10" cellspacing="10">
			
		<tr>
			<td>ENTER USERNAME</td>
			<td>{{record.username}}<td>
		</tr>

		<tr>
			<td>ENTER PASSWORD</td>
			<td>{{record.password}}<td>
		</tr>

		<tr>
			<td colspan="2" align="center">
				<button type="submit"> LOGIN </button>
			</td>
		</tr>
		</table>
		
		</h3>
		
	</form>
		

</body>
</html>